@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    Welcome to MVC 5 Step by Step learning
    <div>
        <button id="btnTest" style="width:100px;height:30px" ></button>
        <p> Test View </p>
        
    </div>
</body>
</html>
